.hidden{
    display: none;
}

body {
    --nav-width: 4%;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav-icon{
    width: 130%;
    height: 130%;
    cursor: pointer;
    align-items: center;
}

.nav{
    border-right : none;
    border-radius : 20px 0 0 20px / 20px 0 0 20px;
    background : #a9beff;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
  }

#app{
    margin: 1em;
    line-height: 1.5;
    font-weight: 500;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.item{
  width : 50px;
  height : 100vh;
  border : 1px solid #bfbfbf;
}

#notification{
    border-radius : 0 20px 20px 0 / 0 20px 20px 0;
    border-right : none;
    background : #a9beff;
    width : 4%;
    color : #a9beff;
    position: absolute;
    top: 0px;
    right:0px;
  }
  
  #notification:hover #notification-icon
  {
    width : 100%;
    border-radius : 0 20px 20px 0 / 0 20px 20px 0;
    background : #aeaeae;
    height : 100vh;
  }
  
  #notification:hover .side-bar-open-icon {
    display : block;
    position:relative;
    top : 50%;
  }
  
  #side-bar-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  #monthly-calendar-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
  }

  .day{

  }

  .weekend{
    
  }

  .hidden{
    display: none;
}

.inner-item{
    margin-top : 5px;
    margin-bottom : 0px;
}

#clock-panel{
    font-size:9vw;
    margin-top : 0px;
    margin-bottom : -26px;
    display : inline-block;
}

#date-panel{
    display : inline-block;
    font-size : 1.5vw;
    font-style : italic;
    margin-top :0px;
}

#greeting-panel{
  display :block;
  font-size : 2.5vw;
  font-weight :bold;
}

.weather-init{
    vertical-align: middle;
}

#weather-temperature, #weather-region{
    font-size:20px;
}

#weather-item,#weather-error{
  display:none;
}